@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

:root {
  --primary_font: 'Ubuntu', sans-serif;

  --main_white: #fff;
  --main_black: #01030e;
  --main_black-light: #333;
  --main_color: #ef3f49;
  --main_color-light: #f04850ea;

  --fixed_width: 90vw;
  --max_width: 90rem;

  --transition: all 0.3s ease-in-out;
}

::selection {
  background: var(--main_color);
  color: var(--main_white);
}

section:nth-child(odd) {
  background: #010414 !important;
}

body {
  font-family: var(--primary_font);
  line-height: 1.7;
  box-sizing: border-box;
  background: var(--main_black);
  color: var(--main_white);
  min-height: 100vh;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

section {
  padding-top: 10rem;
}

section .container,
section .container_L {
  border-bottom: 1px dotted #eee;
  padding-bottom: 8rem;
}

.style_this {
  color: var(--main_color);
}

.underline > span {
  width: 1.75rem;
  height: 1.75rem;
  border: 2px solid var(--main_color);
  border-radius: 10rem;
  display: inline-block;
  position: relative;
}

#circle_2 {
  margin-left: -1.5rem;
}

#circle_1::after,
#circle_2::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 100%;
  width: 4rem;
  height: 2px;
  background: var(--main_color);
  transform: translateY(-50%);
}

#circle_2::after {
  left: 100%;
}

.container {
  width: var(--fixed_width);
  max-width: var(--max_width);
  margin: 0 auto;
}

.container_L {
  width: var(--fixed_width);
  max-width: 110rem;
  margin: 0 auto;
}

#main_header {
  height: 70vh;
  position: relative;
}

.main_header-col1 {
  background: var(--main_black);
  width: 20rem;
  padding: 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  transition: all 0.4s linear;
}

.toggleNav {
  left: -100%;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  height: 100%;
}

.main_header-listitems {
  font-size: 1.7rem;
  line-height: 2;
}

.main_header-link {
  color: #eee;
  transition: var(--transition);
}

.main_header-link:hover {
  color: var(--main_color);
}

.main_header-link:active {
  color: var(--main_color);
}

.main_header-logoContainer {
  width: 8rem;
  height: 8rem;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.followTextContainer > h3 {
  font-size: 1.8rem;
  font-weight: 300;
  color: var(--main_color);
}

.iconContainer {
  width: 3rem;
  height: 3rem;
  border-radius: 10rem;
  background: var(--main_color);
  display: grid;
  place-items: center;
}

.iconContainer > i {
  color: #eee;
  font-size: 1.4rem;
}

.main_header-col2 {
  background: linear-gradient(
      to right bottom,
      rgba(20, 20, 20, 0.534),
      rgba(32, 32, 32, 0.623)
    ),
    url('/images/bg.jfif') center/cover no-repeat;
  display: grid;
  place-items: center;
  height: 100%;
}

.main_header_col2-content {
  text-align: center;
}

.main_header_col2-content h1 {
  font-size: 4.5rem;
  line-height: 1.2;
  list-style-position: 3px;
}

.main_header_col2-content small {
  font-size: 1.5rem;
}

.main_header-col2 p {
  font-size: 1.5rem;
}

.cvBtn {
  display: inline-block;
  margin: 2rem 0;
  background: var(--main_color);
  color: var(--main_white);
  padding: 0.8rem 1.3rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  letter-spacing: 1.2px;
  transition: var(--transition);
}

.cvBtn:hover {
  background: var(--main_color-light);
}

.navToggleIconContainer {
  position: absolute;
  top: 10%;
  left: 20%;
  border: 2px dotted var(--main_white);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 2rem;
  cursor: pointer;
}

/*
  ABOUT SECTION
*/

.titleContainer {
  font-size: 2.4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.titleContainer h2 {
  line-height: 0.7;
}

.row {
  display: grid;
  grid-template-columns: 1.24fr 3fr;
  column-gap: 2rem;
  margin-top: 2rem;
}

.col_1_img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 50%;
  outline: 3px solid var(--main_color);
  outline-offset: 1.5rem;
}

.col_1-linksContainer {
  margin-top: 3rem;
}

.col_1-linksContainer a {
  color: var(--main_black-light);
  font-size: 2.5rem;
  cursor: pointer;
  transition: var(--transition);
}

.col_1-linksContainer a:hover {
  color: var(--main_white);
}

.col_1-linksContainer a:not(:last-child) {
  margin-right: 1rem;
}

.col_2 h3 {
  font-size: 2.25rem;
}
.col_2 small {
  font-size: 1.6rem;
}

.col_2 p {
  font-size: 1.56rem;
}

.detail_row {
  display: flex;
  align-items: center;
  margin-top: 3rem;
}

.detail_col-1 {
  flex: 1;
}

.detail_col-1 > div,
.detail_col-2 > div {
  display: flex;
  align-items: center;
}

.detail_row h4 {
  margin-right: 0.8rem;
  color: var(--main_color);
  font-weight: 300;
  font-size: 1.6rem;
}

/*
  SKILLS SECTION
*/

.skill_showcase_center {
  margin: 3rem 0;
}

.skill_showcase-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.skillContainer {
  margin: 4rem auto;
}

.skillBox:not(:last-child) {
  margin-bottom: 1rem;
}

.SkillTitle_Rate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.48rem;
}

.skill_title {
  font-family: var(--secondary_font) !important;
  font-weight: 700 !important;
}

.skillRateBar {
  width: 100%;
  height: 6px;
  border-radius: 10rem;
  position: relative;
}

.skillRateBar::after {
  content: '';
  display: grid;
  place-items: center;
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: var(--main_color-light);
}

.skillRateBar-html {
  background: linear-gradient(
    to right,
    var(--main_color) 0%,
    var(--main_color) 85%,
    var(--main_white) 85%
  );
}

.skillRateBar-html::after {
  content: '85%';
  top: -0.85rem;
  right: 15%;
  background: #dd4b25;
}

.skillRateBar-css {
  background: linear-gradient(
    to right,
    var(--main_color) 0%,
    var(--main_color) 75%,
    var(--main_white) 75%
  );
}

.skillRateBar-css::after {
  content: '75%';
  top: -0.85rem;
  right: 25%;
  background: #285aeb;
}

.skillRateBar-js {
  background: linear-gradient(
    to right,
    var(--main_color) 0%,
    var(--main_color) 82%,
    var(--main_white) 82%
  );
}

.skillRateBar-js::after {
  content: '82%';
  top: -0.85rem;
  right: 18%;
  background: #efd81d;
  color: #000;
}

.skillRateBar-node {
  background: linear-gradient(
    to right,
    var(--main_color) 0%,
    var(--main_color) 75%,
    var(--main_white) 75%
  );
}

.skillRateBar-node::after {
  content: '75%';
  top: -0.85rem;
  right: 25%;
  background: #73aa63;
}

.skillRateBar-git {
  background: linear-gradient(
    to right,
    var(--main_color) 0%,
    var(--main_color) 85%,
    var(--main_white) 85%
  );
}

.skillRateBar-git::after {
  content: '85%';
  top: -0.85rem;
  right: 14.6%;
  background: linear-gradient(to right, #ec4b26 0%, #ec4b26 50%, #000 50%);
}

.skill_showcase_col-2 {
  position: relative;
}

.circle_imageContainer {
  width: 16rem;
  height: 16rem;
  display: flex;
  transform-style: preserve-3d;
  position: absolute;
  top: 20%;
  left: 35%;
  animation: animateText 10s linear infinite;
}

.circle_imageContainer > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * calc(360deg / 4))) translateZ(10rem);
}

.info_row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
  row-gap: 1rem;
  margin-top: 3rem;
  background: rgba(51, 51, 51, 0.212);
  padding-bottom: 1.5rem;
}

.info_col h2 {
  font-size: 5rem;
  font-weight: 300;
  color: var(--main_color-light);
}

.info_col {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.4;
}

.info_col h3 {
  color: #eee;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 2rem;
  font-weight: 300;
}

/*
  SERVICES
*/

.services_row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}

.services_card {
  background: rgba(51, 51, 51, 0.212);
}

.services_card-content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card_iconContainer {
  margin-bottom: 1rem;
}

.card_iconContainer i {
  font-size: 2.5rem;
  color: var(--main_color);
}

.services_card-content h3 {
  font-size: 2.25rem;
  line-height: 1.3;
  margin-bottom: 1.6rem;
  text-align: center;
}

.services_card-content p {
  text-align: center;
  font-size: 1.46rem;
}

/*
  PROJECTS SHOWCASE
*/

#projects_section {
}

.project:not(:last-child) {
  margin-bottom: 5rem;
}

.projects_mainTitle {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-style: italic;
  font-weight: 300;
}

.projects_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.projects_article {
  background: rgba(51, 51, 51, 0.212);
  border: 2px solid #424242;
  border-radius: 1rem;
  height: 30rem;
  padding: 2rem;
  flex-basis: 60%;
}

.projects_detail {
  flex-basis: 35%;
}

.projects_parent_container {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.projects_linksContainer {
  position: relative;
  z-index: 3;
}

.linkIcon {
  color: var(--main_white);
  font-size: 2rem;
  cursor: pointer;
  display: inline-block;
  transition: var(--transition);
  margin-right: 1rem;
}

.linkIcon:hover {
  color: var(--main_color);
}

.projects_child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.projects_child img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-fit: contain;
}

.projects_detail h3 {
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
}

.projects_detail_desc h4 {
  font-size: 1.6rem;
}

.projects_detail_desc p {
  font-size: 1.5rem;
}

.projects_detail_techContainer {
  margin-top: 1.5rem;
}

.projects_detail_techContainer h4 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.projects_detail_tech {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-wrap: wrap;
  row-gap: 1rem;
  font-size: 1.3rem;
  white-space: nowrap;
}

.projects_detail_tech i {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: var(--main_black-light);
  color: #fff;
  color: var(--main_color);
  display: grid;
  font-size: 1.5rem;
  place-items: center;
  margin-right: 0.78rem;
}

.projects_detail_tech > *:not(:last-child) {
  margin-right: 1rem;
}

#project_1 .projects_article {
  order: 2;
}

#project_3 .projects_detail {
  order: -1;
}

#project_1 .projects_mainTitle,
#project_3 .projects_mainTitle {
  text-align: right;
}

/*
  CONTACT SECTION
*/

#contact_section {
  padding-top: 5rem;
}

.contactHeader h2 {
  font-size: 2.3rem;
}

#contact_section center {
  margin-top: 3rem;
}

.contactBtn {
  display: inline-block;
  font-size: 1.56rem;
  letter-spacing: 1px;
  border: 1px solid var(--main_color-light);
  padding: 0.8rem 1.2rem;
  background: var(--main_color);
  color: var(--main_white);
  border-radius: 1rem;
  transition: var(--transition);
}

.contactBtn:hover {
  background: var(--main_color-light);
}

/*
FOOTER
*/

footer {
  height: 15vh;
  display: grid;
  place-items: center;
  font-size: 1.78rem;
  letter-spacing: 2px;
}

.scrollBtn {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background: var(--main_color);
  color: var(--main_white);
  display: grid;
  place-items: center;
  position: fixed;
  bottom: 20%;
  right: 5%;
  font-size: 1.6rem;
  display: none;
  /* box-shadow: 0 5px 10px #555; */
  cursor: pointer;
}

.showScrollBtn {
  display: grid;
}

/*
========================
  ANIMATIONS
========================
*/

@keyframes animateText {
  0% {
    transform: perspective(1000px) rotateY(360deg) rotateX(15deg)
      translateY(-30px);
  }

  100% {
    transform: perspective(1000px) rotateY(0deg) rotateX(15deg)
      translateY(-30px);
  }
}

@media screen and (max-width: 1030px) {
  /*
  PROJECTS SHOWCASE
*/
  .navToggleIconContainer {
    left: 50%;
    transform: translateX(-50%);
  }

  #main_header {
    height: 45vh;
  }

  .projects_detail_tech {
    justify-content: start;
    row-gap: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .navToggleIconContainer {
    left: 50%;
    transform: translateX(-50%);
  }

  /*MAIN HEADER*/

  #main_header {
    height: 45vh;
  }

  .main_header-col1 {
    left: -100%;
  }

  .toggleNav {
    left: 0;
  }

  .main_header_col2-content {
    margin-top: 5rem;
  }

  .main_header_col2-content h1 {
    font-size: 3.5rem;
  }

  .cvBtn {
    padding: 0.6rem 1rem;
    font-size: 1.5rem;
  }

  /*
  ABOUT SECTION
*/

  .titleContainer {
    font-size: 2.25rem;
  }

  .row {
    grid-template-columns: 1fr;
    column-gap: 0;
  }

  .row {
    grid-template-columns: 1fr;
    column-gap: 0;
    margin-top: 4rem;
  }

  .col_1_img {
    width: 15rem;
    height: 15rem;
  }

  .col_1-linksContainer {
    margin-top: 2.25rem;
  }

  .col_1-linksContainer a {
    font-size: 2.25rem;
  }

  .col_1-linksContainer a:not(:last-child) {
    margin-right: 1rem;
  }

  .col_2 {
    margin-top: 2rem;
  }

  .col_2 h3 {
    font-size: 2rem;
  }
  .col_2 small {
    font-size: 1.6rem;
  }

  .col_2 p {
    font-size: 1.76rem;
  }

  .col_2 p:not(.detail_row p) {
    font-size: 1.5rem;
    margin-top: 2rem;
  }

  .detail_col-1 > div,
  .detail_col-2 > div {
    line-height: 2;
  }

  .detail_row h4 {
    font-size: 1.5rem;
  }

  /*
  SKILLS SECTION
*/

  .circle_imageContainer {
    width: 10rem;
    height: 10rem;
  }

  /*
  SERVICES
*/

  .card_iconContainer i {
    font-size: 2rem;
  }

  .services_card-content h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .services_card-content p {
    font-size: 1.5rem;
  }

  /*
  PROJECTS SHOWCASE
*/

  .projects_detail_tech {
    justify-content: start;
    row-gap: 1rem;
  }

  /*
  CONTACT SECTION
*/

  #contact_section {
    padding-bottom: 0;
  }

  .contactHeader h2 {
    font-size: 1.8rem;
    text-align: center;
  }

  .contactBtn {
    font-size: 1.6rem;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 600px) {
  /*GENERAL*/
  section {
    padding-top: 6rem;
  }

  section .container {
    padding-bottom: 5rem;
  }

  /*MAIN HEADER*/

  #main_header {
    height: 55vh;
  }

  .main_header-col1 {
    padding: 1rem;
    left: -100%;
  }

  .toggleNav {
    left: 0;
  }

  .main_header_col2-content {
    margin-top: 5rem;
  }

  .main_header_col2-content h1 {
    font-size: 3rem;
  }

  .cvBtn {
    padding: 0.6rem 1rem;
    font-size: 1.4rem;
  }

  .navToggleIconContainer {
    left: 80%;
    width: 4rem;
    height: 4rem;
    font-size: 1.5rem;
  }

  /*
  ABOUT SECTION
*/

  .titleContainer {
    font-size: 1.8rem;
  }

  .titleContainer h2 {
    line-height: 1;
  }

  .row {
    grid-template-columns: 1fr;
    column-gap: 0;
    margin-top: 4rem;
  }

  .col_1_img {
    width: 10rem;
    height: 10rem;
    outline-offset: 1rem;
  }

  .col_1-linksContainer {
    margin-top: 2rem;
  }

  .col_1-linksContainer a {
    font-size: 2rem;
  }

  .col_1-linksContainer a:not(:last-child) {
    margin-right: 0.7rem;
  }

  .col_2 {
    margin-top: 2rem;
  }

  .col_2 h3 {
    font-size: 2rem;
  }
  .col_2 small {
    font-size: 1.46rem;
  }

  .col_2 p {
    font-size: 1.56rem;
  }

  .col_2 p:not(.detail_row p) {
    font-size: 1.45rem;
    margin-top: 2rem;
  }

  .detail_row {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 1rem;
  }

  .detail_col-1 > div,
  .detail_col-2 > div {
    display: flex;
    align-items: center;
    line-height: 2.5;
  }

  .detail_row h4 {
    font-size: 1.46rem;
  }

  /*
  SKILLS SECTION
*/

  .skill_showcase_center {
    margin: 3rem 0;
  }

  .skill_showcase-row {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .skillContainer {
    margin: 1rem auto;
  }

  .skillBox:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .skill_showcase_col-2 {
    position: relative;
    order: -1;
    margin-bottom: 7rem;
    margin-top: 6rem;
  }

  .circle_imageContainer {
    width: 10rem;
    height: 10rem;
  }

  .info_row {
    justify-content: space-evenly;
  }

  .info_col h2 {
    font-size: 3rem;
  }

  .info_col h3 {
    letter-spacing: 0px;
    font-size: 1.4rem;
    font-weight: 400;
  }

  /*
  SERVICES
*/

  .services_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .card_iconContainer i {
    font-size: 2rem;
  }

  .services_card-content h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  .services_card-content p {
    font-size: 1.36rem;
  }

  /*
  PROJECTS SHOWCASE
*/

  .project:not(:last-child) {
    margin-bottom: 5rem;
  }

  .projects_mainTitle {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  .projects_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .projects_article {
    height: 20rem;
    padding: 1.5rem;
    flex-basis: 100%;
  }

  .projects_detail {
    flex-basis: 100%;
  }

  .projects_detail h3 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
  }

  .projects_detail_desc h4 {
    font-size: 1.6rem;
  }

  .projects_detail_desc p {
    font-size: 1.35rem;
  }

  .projects_detail_techContainer h4 {
    font-size: 1.6rem;
  }

  .projects_detail_tech {
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1.3rem;
    row-gap: 1rem;
    margin-bottom: 1rem;
  }

  /*
  CONTACT SECTION
*/

  #contact_section {
    padding-top: 3rem;
  }

  .contactHeader h2 {
    font-size: 1.8rem;
    text-align: center;
  }

  .contactBtn {
    font-size: 1.46rem;
    letter-spacing: 1px;
    padding: 0.5rem 1rem;
  }
}
