@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

:root {
  --primary_font: 'Ubuntu', sans-serif;
  --secondary_font: 'Poppins', sans-serif;

  --main_white: #fff;
  --main_black: #000;
  --main_black-light: #333;
  --main_color: #ef3f49;
  --main_color-light: #f04850ea;

  --fixed_width: 90vw;
  --max_width: 80rem;
  --max_width: 90rem;

  --transition: all 0.3s ease-in-out;
}

body {
  font-family: var(--primary_font);
  line-height: 1.7;
  box-sizing: border-box;
  background: var(--main_black);
  color: var(--main_white);
  min-height: 100vh;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.style_this {
  color: var(--main_color);
}

.underline > span {
  width: 1.75rem;
  height: 1.75rem;
  border: 2px solid var(--main_color);
  border-radius: 10rem;
  display: inline-block;
  position: relative;
}

#circle_2 {
  margin-left: -1.5rem;
}

#circle_1::after,
#circle_2::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 100%;
  width: 4rem;
  height: 2px;
  background: var(--main_color);
  transform: translateY(-50%);
}

#circle_2::after {
  left: 100%;
}

.container {
  width: var(--fixed_width);
  max-width: var(--max_width);
  margin: 0 auto;
}

#main_header {
  height: 70vh;
  position: relative;
}

.main_header-col1 {
  background: var(--main_black-light);
  width: 20rem;
  padding: 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  transition: all 0.4s linear;
}

.toggleNav {
  left: -100%;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  height: 100%;
}

.main_header-listitems {
  font-size: 1.7rem;
  line-height: 2;
}

.main_header-link {
  color: #eee;
}

.main_header-logoContainer {
  width: 8rem;
  height: 8rem;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.followTextContainer > h3 {
  font-size: 1.8rem;
  font-weight: 300;
  color: var(--main_color);
}

.iconContainer {
  width: 3rem;
  height: 3rem;
  border-radius: 10rem;
  background: var(--main_color);
  display: grid;
  place-items: center;
}

.iconContainer > i {
  color: #eee;
  font-size: 1.4rem;
}

.main_header-col2 {
  background: url('/images/bg3.jpg') center/cover no-repeat;
  background: linear-gradient(
      to right bottom,
      rgba(20, 20, 20, 0.534),
      rgba(32, 32, 32, 0.623)
    ),
    url('/images/bg.jfif') center/cover no-repeat;
  display: grid;
  place-items: center;
  height: 100%;
}

.main_header_col2-content {
  text-align: center;
}

.main_header_col2-content h1 {
  font-size: 4.5rem;
  line-height: 1.2;
  list-style-position: 3px;
}

.main_header_col2-content small {
  font-size: 1.5rem;
}

.main_header-col2 p {
  font-size: 1.5rem;
}

.cvBtn {
  display: inline-block;
  margin: 2rem 0;
  background: var(--main_color);
  color: var(--main_white);
  padding: 0.8rem 1.3rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  letter-spacing: 1.2px;
  transition: var(--transition);
}

.cvBtn:hover {
  background: var(--main_color-light);
}

.navToggleIconContainer {
  position: absolute;
  top: 10%;
  left: 20%;
  border: 2px dotted var(--main_white);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 2rem;
  cursor: pointer;
}

/*
  ABOUT SECTION
*/

#about_section {
  padding: 10rem 0;
}

.titleContainer {
  font-size: 2.4rem;
  font-family: var(--primary_font) !important;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.titleContainer h2 {
  line-height: 0.7;
}

.row {
  display: grid;
  grid-template-columns: 1.24fr 3fr;
  column-gap: 12rem;
}

.col_1 {
  position: relative;
  height: 100%;
  width: 100%;
}

.col_1 > * {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.aboutImgContainer-2 {
  top: 4rem;
  left: 8rem;
}

.aboutImgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.col_2 h3 {
  font-size: 2.25rem;
}
.col_2 small {
  font-size: 1.6rem;
}

.col_2 p {
  font-size: 1.56rem;
}

.detail_row {
  display: flex;
  align-items: center;
  margin-top: 3rem;
}

.detail_col-1 {
  flex: 1;
}

.detail_col-1 > div,
.detail_col-2 > div {
  display: flex;
  align-items: center;
}

.detail_row h4 {
  margin-right: 0.8rem;
  color: var(--main_color);
  font-weight: 300;
  font-size: 1.6rem;
}
