@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

:root {
  --primary_font: 'Ubuntu', sans-serif;

  --main_white: #fff;
  --main_black: #000;
  /* --main_black: #000108; */
  --main_black: #01030e;
  --main_black-light: #333;
  --main_color: #ef3f49;
  --main_color-light: #f04850ea;

  --fixed_width: 90vw;
  --max_width: 80rem;
  --max_width: 90rem;

  --transition: all 0.3s ease-in-out;
}

::selection {
  background: var(--main_color);
  color: var(--main_white);
}

section:nth-child(odd) {
  background: #010414 !important;
}

body {
  font-family: var(--primary_font);
  line-height: 1.7;
  box-sizing: border-box;
  background: var(--main_black);
  color: var(--main_white);
  min-height: 100vh;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

section {
  padding-top: 10rem;
}

section .container {
  border-bottom: 1px dotted #eee;
  padding-bottom: 8rem;
}

.style_this {
  color: var(--main_color);
}

.underline > span {
  width: 1.75rem;
  height: 1.75rem;
  border: 2px solid var(--main_color);
  border-radius: 10rem;
  display: inline-block;
  position: relative;
}

#circle_2 {
  margin-left: -1.5rem;
}

#circle_1::after,
#circle_2::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 100%;
  width: 4rem;
  height: 2px;
  background: var(--main_color);
  transform: translateY(-50%);
}

#circle_2::after {
  left: 100%;
}

.container {
  width: var(--fixed_width);
  max-width: var(--max_width);
  margin: 0 auto;
}

#main_header {
  height: 70vh;
  position: relative;
}

.main_header-col1 {
  background: var(--main_black);
  width: 20rem;
  padding: 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  transition: all 0.4s linear;
}

.toggleNav {
  left: -100%;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  height: 100%;
}

.main_header-listitems {
  font-size: 1.7rem;
  line-height: 2;
}

.main_header-link {
  color: #eee;
  transition: var(--transition);
}

.main_header-link:hover {
  color: var(--main_color);
}

.main_header-link:active {
  color: var(--main_color);
}

.main_header-logoContainer {
  width: 8rem;
  height: 8rem;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.followTextContainer > h3 {
  font-size: 1.8rem;
  font-weight: 300;
  color: var(--main_color);
}

.iconContainer {
  width: 3rem;
  height: 3rem;
  border-radius: 10rem;
  background: var(--main_color);
  display: grid;
  place-items: center;
}

.iconContainer > i {
  color: #eee;
  font-size: 1.4rem;
}

.main_header-col2 {
  background: linear-gradient(
      to right bottom,
      rgba(20, 20, 20, 0.534),
      rgba(32, 32, 32, 0.623)
    ),
    url('/images/bg.jfif') center/cover no-repeat;
  display: grid;
  place-items: center;
  height: 100%;
}

.main_header_col2-content {
  text-align: center;
}

.main_header_col2-content h1 {
  font-size: 4.5rem;
  line-height: 1.2;
  list-style-position: 3px;
}

.main_header_col2-content small {
  font-size: 1.5rem;
}

.main_header-col2 p {
  font-size: 1.5rem;
}

.cvBtn {
  display: inline-block;
  margin: 2rem 0;
  background: var(--main_color);
  color: var(--main_white);
  padding: 0.8rem 1.3rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  letter-spacing: 1.2px;
  transition: var(--transition);
}

.cvBtn:hover {
  background: var(--main_color-light);
}

.navToggleIconContainer {
  position: absolute;
  top: 10%;
  left: 20%;
  border: 2px dotted var(--main_white);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 2rem;
  cursor: pointer;
}

/*
  ABOUT SECTION
*/

.titleContainer {
  font-size: 2.4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.titleContainer h2 {
  line-height: 0.7;
}

.row {
  display: grid;
  grid-template-columns: 1.24fr 3fr;
  column-gap: 12rem;
  margin-top: 2rem;
}

.col_1 {
  position: relative;
  height: 100%;
  width: 100%;
}

.col_1 > * {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.aboutImgContainer-2 {
  top: 4rem;
  left: 8rem;
}

.aboutImgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-fit: contain; */
}

.col_2 h3 {
  font-size: 2.25rem;
}
.col_2 small {
  font-size: 1.6rem;
}

.col_2 p {
  font-size: 1.56rem;
}

.detail_row {
  display: flex;
  align-items: center;
  margin-top: 3rem;
}

.detail_col-1 {
  flex: 1;
}

.detail_col-1 > div,
.detail_col-2 > div {
  display: flex;
  align-items: center;
}

.detail_row h4 {
  margin-right: 0.8rem;
  color: var(--main_color);
  font-weight: 300;
  font-size: 1.6rem;
}

/*
  SKILLS SECTION
*/

.skill_showcase_center {
  margin: 3rem 0;
}

.skill_showcase-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.skillContainer {
  margin: 4rem auto;
}

.skillBox:not(:last-child) {
  margin-bottom: 1rem;
}

.SkillTitle_Rate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.48rem;
}

.skill_title {
  font-family: var(--secondary_font) !important;
  font-weight: 700 !important;
}

.skillRateBar {
  width: 100%;
  height: 6px;
  border-radius: 10rem;
  position: relative;
}

.skillRateBar::after {
  content: '';
  display: grid;
  place-items: center;
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: var(--main_color-light);
}

.skillRateBar-html {
  background: linear-gradient(
    to right,
    var(--main_color) 0%,
    var(--main_color) 85%,
    var(--main_white) 85%
  );
}

.skillRateBar-html::after {
  content: '85%';
  top: -0.85rem;
  right: 15%;
}

.skillRateBar-css {
  background: linear-gradient(
    to right,
    var(--main_color) 0%,
    var(--main_color) 75%,
    var(--main_white) 75%
  );
}

.skillRateBar-css::after {
  content: '75%';
  top: -0.85rem;
  right: 25%;
}

.skillRateBar-js {
  background: linear-gradient(
    to right,
    var(--main_color) 0%,
    var(--main_color) 82%,
    var(--main_white) 82%
  );
}

.skillRateBar-js::after {
  content: '82%';
  top: -0.85rem;
  right: 18%;
}

.skillRateBar-node {
  background: linear-gradient(
    to right,
    var(--main_color) 0%,
    var(--main_color) 75%,
    var(--main_white) 75%
  );
}

.skillRateBar-node::after {
  content: '75%';
  top: -0.85rem;
  right: 25%;
}

.skillRateBar-git {
  background: linear-gradient(
    to right,
    var(--main_color) 0%,
    var(--main_color) 85%,
    var(--main_white) 85%
  );
}

.skillRateBar-git::after {
  content: '85%';
  top: -0.85rem;
  right: 15%;
}

.skill_showcase_col-2 {
  position: relative;
}

.circle_imageContainer {
  width: 16rem;
  height: 16rem;
  display: flex;
  transform-style: preserve-3d;
  position: absolute;
  top: 20%;
  left: 35%;
  animation: animateText 10s linear infinite;
}

.circle_imageContainer > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * calc(360deg / 4))) translateZ(10rem);
}

.info_row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin-top: 3rem;
  background: rgba(51, 51, 51, 0.267);
  padding-bottom: 1.5rem;
}

.info_col h2 {
  font-size: 5rem;
  font-weight: 500;
  font-weight: 300;
  color: var(--main_color-light);
}

.info_col {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.4;
}

.info_col h3 {
  color: #eee;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 2rem;
}

/*
  SERVICES
*/

.services_row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}

.services_card {
  background: rgba(51, 51, 51, 0.267);
  box-shadow: 0px 3px 5px rgba(37, 37, 37, 0.555);
}

.services_card-content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card_iconContainer {
  margin-bottom: 1rem;
}

.card_iconContainer i {
  font-size: 2.5rem;
  color: var(--main_color);
}

.services_card-content h3 {
  font-size: 2.25rem;
  line-height: 1.3;
  margin-bottom: 1.6rem;
  text-align: center;
}

.services_card-content p {
  text-align: center;
  font-size: 1.46rem;
}

/*
  PROJECTS SHOWCASE
*/

.projects_row {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project_container {
  display: flex;
  align-items: center;
  height: 8rem;
}

.project_style {
  height: 100%;
  width: 3px;
  background: var(--main_color);
  margin-right: 3rem;
  position: relative;
}

.project_style::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: var(--main_color-light);
}

.project_info h3 {
  font-size: 1.7rem;
  font-weight: 400;
}

.project_info a {
  display: block;
  font-size: 1.45rem;
}

.project_link {
  color: var(--main_color-light);
}

.github_link {
  color: #eee;
}

.github_link i {
  margin-right: 0.8rem;
}

/*
FOOTER
*/

footer {
  height: 15vh;
  display: grid;
  place-items: center;
  font-size: 1.78rem;
  letter-spacing: 2px;
}

.scrollBtn {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background: var(--main_color);
  color: var(--main_white);
  display: grid;
  place-items: center;
  position: fixed;
  bottom: 20%;
  right: 5%;
  font-size: 1.6rem;
  display: none;
  box-shadow: 0 5px 10px #555;
  cursor: pointer;
}

.showScrollBtn {
  display: grid;
}

/*
========================
  ANIMATIONS
========================
*/

@keyframes animateText {
  0% {
    transform: perspective(1000px) rotateY(360deg) rotateX(15deg)
      translateY(-30px);
  }

  100% {
    transform: perspective(1000px) rotateY(0deg) rotateX(15deg)
      translateY(-30px);
  }
}

@media screen and (max-width: 720px) {
  /*
  GENERAL 
*/
  section {
    padding-top: 6rem;
  }

  section .container {
    padding-bottom: 5rem;
  }

  #main_header {
    height: 55vh;
  }

  .main_header-col1 {
    padding: 1rem;
    left: -100%;
  }

  .toggleNav {
    left: 0;
  }

  .main_header_col2-content {
    margin-top: 5rem;
  }

  .main_header_col2-content h1 {
    font-size: 3rem;
  }

  .cvBtn {
    padding: 0.6rem 1rem;
    font-size: 1.4rem;
  }

  .navToggleIconContainer {
    left: 80%;
    width: 4rem;
    height: 4rem;
    font-size: 1.5rem;
  }

  /*
  ABOUT SECTION
*/

  .titleContainer {
    font-size: 1.8rem;
    /* font-size: 1.6rem; */
  }

  .titleContainer h2 {
    line-height: 0.9;
  }

  .row {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0;
    margin-top: 2rem;
  }

  .col_1 {
    display: none;
  }

  .col_2 h3 {
    font-size: 2rem;
  }

  .col_2 small {
    font-size: 1.4rem;
  }

  .col_2 p:not(.detail_row p) {
    font-size: 1.45rem;
    margin-top: 2rem;
  }

  .detail_row {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 1rem;
  }

  .detail_col-1 > div,
  .detail_col-2 > div {
    display: flex;
    align-items: center;
    line-height: 2.5;
  }

  .detail_row h4 {
    font-size: 1.46rem;
  }

  /*
  SKILLS SECTION
*/

  .skill_showcase_center {
    margin: 3rem 0;
  }

  .skill_showcase-row {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .skillContainer {
    margin: 1rem auto;
  }

  .skillBox:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .skill_showcase_col-2 {
    position: relative;
    order: -1;
    margin-bottom: 7rem;
    margin-top: 6rem;
  }

  .circle_imageContainer {
    width: 10rem;
    height: 10rem;
  }

  .info_row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .info_col h2 {
    font-size: 3rem;
  }

  .info_col h3 {
    letter-spacing: 0px;
    font-size: 1.6rem;
    font-weight: 400;
  }

  /*
  SERVICES
*/

  .services_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .card_iconContainer i {
    font-size: 2rem;
  }

  .services_card-content h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  /*
  PROJECTS SHOWCASE
*/

  .project_container {
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 760px) {
  .navToggleIconContainer {
    position: absolute;
    top: 10%;
    left: 30%;
  }

  .project_container {
    margin-bottom: 3rem;
  }

  .detail_row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3rem;
  }

  .detail_col-1 {
    flex: 1;
  }
}

@media screen and (max-width: 300px) {
  html {
    font-size: 50%;
  }
}
